.search-container{
    display:flex;
    justify-content: center;
    margin:10px;
}
.search-input{
    padding:8px;
    width:400px;
    font-size:18px;
    background-color: rgb(153, 132, 192);
    color:white;
    border-radius:50px;
    box-shadow:0 0 5px rgba(255,255,255,0.5)
}
.search-input::placeholder{
    color:white;
}
.search-input:focus{
    outline:none;
}